
<div class="container" id="form-control" ng-controller ="View2Ctrl as thisView">
	<div class="row">
		<input type='text' id='nameInput' ng-model='name' placeholder='Name'>
		<span class="text-danger" ng-show="!name">Please provide a name!</span>
		<span class="text-success" ng-hide="!name">Thanks. Successfully validated!</span></br>
	</div>
	<div class="row">
		<input type='text' id='emailInput' ng-model='email' placeholder='email'>
		<span class="text-danger" ng-show="!email">Please provide an email!</span>
		<span class="text-success" ng-hide="!email">Thanks. Successfully validated!</span></br>
		</div>
	<div class="row">
		<input type='text' id='phoneInput' ng-model='phone' placeholder='phone'>
		<span class="text-danger" ng-show="!phone">Please provide a phone#!</span>
		<span class="text-success" ng-hide="!phone">Thanks. Successfully validated!</span></br>
	</div>
	<div class="row">
		<input type='text' id='schoolInput' ng-model='schl' placeholder='school'>
		<span class="text-danger" ng-show="!schl">Please provide a School!</span>
		<span class="text-success" ng-hide="!schl">Thanks. Successfully validated!</span></br>
	</div>
	<div class="row">
		<input class="btn btn-primary" type='Button' id='submit' value='submit' ng-click="save()"></br>
	</div>
	
	
</div>

<div class="container">
	<div class="row">
		<p>This is the partial for view 2.</p>
		<p>
		  Showing of 'interpolate' filter:
		  {{ 'Current version is v%VERSION%.' | interpolate }}
		</p>
	</div>
</div>
<!-- <div class="container" id="result">
	<div class="row">
				ng-repeat should render here.
				<ul>
				  <li ng-repeat="item in thisView.objContact">
					  Name: {{item.Name}} - Email: {{item.Email}} - Phone: {{item.Phone}} - School: {{item.School}}
					  <!-- Name: <p ng-bind = "item.name"></p> -->
<!-- 				  </li>
				</ul>
	</div> -->
<div class="container">
	<div class="row">
		<input class="btn btn-primary" type='Button' id='fetch' value='Fetch Records!' ng-click="fetch()"</br>
	</div>
</div>
	<div id='messagesDiv'></div>
</div> 
