
<div class="container" id="form-control" ng-controller ="View2Ctrl as thisView">
	<div class="row">
		<input type='text' id='nameInput' ng-model='name' placeholder='Name'>
		<span class="text-danger" ng-show="!name">Please provide a name!</span>
		<span class="text-success" ng-hide="!name">Thanks. Successfully validated!</span></br>
	</div>
	<div class="row">
		<input type='text' id='emailInput' ng-model='email' placeholder='email'>
		<span class="text-danger" ng-show="!email">Please provide an email!</span>
		<span class="text-success" ng-hide="!email">Thanks. Successfully validated!</span></br>
		</div>
	<div class="row">
		<input type='text' id='phoneInput' ng-model='phone' placeholder='phone'>
		<span class="text-danger" ng-show="!phone">Please provide a phone#!</span>
		<span class="text-success" ng-hide="!phone">Thanks. Successfully validated!</span></br>
	</div>
	<div class="row">
		<input type='text' id='schoolInput' ng-model='schl' placeholder='school'>
		<span class="text-danger" ng-show="!schl">Please provide a School!</span>
		<span class="text-success" ng-hide="!schl">Thanks. Successfully validated!</span></br>
	</div>
	<p>&nbsp;</p>
	<p></p>

	<div class="row">
			<input class="btn btn-primary" type='Button' id='submit' value='submit' ng-click="save()">

			<input class="btn btn-primary" type='Button' id='fetch' value='Fetch Records!' ng-click="fetch()"</br>

	</div>
	
	
</div>

<div class="container">
	<div class="row">
		
	</div>
</div>
	<div id='messagesDiv'></div>
</div> 
